# Assignment 4 submission

In [1]:
# import the libraries 
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By


import warnings
warnings.filterwarnings("ignore")

In [2]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

# QUESTION -1

In [6]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [7]:
import re
# get the url
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(3)

# Function for getting each value in the table
def tables(x):
    new = driver.find_elements_by_xpath("//*[@id='mw-content-text']/div[1]/table[3]/tbody/tr/td["+str(x)+"]")
    return new    

# Use function to get the value
rank = [i.text for i in tables(1)]
time.sleep(2)
name = [i.text for i in tables(2)]
time.sleep(2)
artist = [i.text for i in tables(3)]
time.sleep(2)
views = [i.text for i in tables(4)]
time.sleep(2)
upload_date = [i.text for i in tables(5)]

#using regex to only get the string value
clean_name= []

for i in name:
     clean_name.append(re.sub(r'\[+[1-9][0-9]+]', '', i))
        
# Create a dictionary
one = dict(
    Rank = rank,
    Name = clean_name,
    Artist = artist,
    Views = views,
    Upload_date = upload_date   
    )
# Create a dataframe
Question_one = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in one.items()]))
#print DataFrame
Question_one

,Rank,Name,Artist,Views,Upload_date
0,1.,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,8.78,"June 17, 2016"
1,2.,"""Despacito""",Luis Fonsi,7.40,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,5.46,"October 8, 2016"
3,4.,"""Shape of You""",Ed Sheeran,5.35,"January 30, 2017"
4,5.,"""See You Again""",Wiz Khalifa,5.14,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.44,"January 31, 2012"
6,7.,"""Uptown Funk""",Mark Ronson,4.20,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.15,"February 27, 2018"
8,9.,"""Bath Song""",Cocomelon – Nursery Rhymes,4.14,"May 2, 2018"
9,10.,"""Gangnam Style""",Psy,4.09,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""",ChuChu TV,3.92,"March 6, 2014"
11,12.,"""Sugar""",Maroon 5,3.48,"January 14, 2015"
12,13.,"""Sorry""",Justin Bieber,3.44,"October 22, 2015"
13,14.,"""Dame Tu Cosita""",El Chombo,3.39,"April 5, 2018"
14,15.,"""Roar""",Katy Perry,3.37,"September 5, 2013"
15,16.,"""Counting Stars""",OneRepublic,3.32,"May 31, 2013"
16,17.,"""Thinking Out Loud""",Ed Sheeran,3.27,"October 7, 2014"
17,18.,"""Dark Horse""",Katy Perry,3.09,"February 20, 2014"
18,19.,"""Faded""",Alan Walker,3.08,"December 3, 2015"
19,20.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,3.08,"May 24, 2018"
20,21.,"""Shake It Off""",Taylor Swift,3.07,"August 18, 2014"
21,22.,"""Lean On""",Major Lazer,3.05,"March 22, 2015"
22,23.,"""Girls Like You""",Maroon 5,3.05,"May 31, 2018"
23,24.,"""Bailando""",Enrique Iglesias,3.04,"April 11, 2014"
24,25.,"""Let Her Go""",Passenger,3.01,"July 25, 2012"
25,26.,"""Mi Gente""",J Balvin,2.93,"June 29, 2017"
26,27.,"""Perfect""",Ed Sheeran,2.87,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,2.85,"June 4, 2010"
28,29.,"""Hello""",Adele,2.84,"October 22, 2015"
29,30.,"""Axel F""",Crazy Frog,2.83,"June 16, 2009"

In [8]:
driver.close()

# --------------------End of Question one---------------------

# Question 2

In [15]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [22]:
#get the url
url = "https://www.bcci.tv/."
driver.get(url)


#navigate to the respective page by clciking on the link
click = driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover']").click()
select = driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down']").click()
#time.sleep(3)

In [24]:
# Getting date
date = driver.find_elements_by_xpath("//div[@class='fixture__full-date']")
d = [x.text.split("\n") for x in date]
# get time
time = []
for x in d:
    time.append(x[2])
#get date
Date = []
for x in d:
    Date.append(x[0]+" "+x[1])


#time.sleep(3)

In [25]:

#get place
place = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
pla = [x.text for x in place]

#time.sleep(3)
#get series 
series = driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
ser = [x.text for x in series]
#time.sleep(3)
#get match
match = driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
ma= [x.text for x in match]
#time.sleep(3)
#create a dictionary
Two = dict(
    Time = time,
    Date = Date,
    Place = pla,
    Series = ser,
    Match = ma
           )
# create a dataframe
Question_2 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in Two.items()]))



Question_2

,Time,Date,Place,Series,Match
0,15:00 IST,18 JUNE,"The Ageas Bowl, Southampton",Final,ICC WORLD TEST CHAMPIONSHIP
1,14:30 IST,13 JULY,"R Premadasa Stadium, Colombo",1st ODI,SRI LANKA V INDIA 2021
2,14:30 IST,16 JULY,"R Premadasa Stadium, Colombo",2nd ODI,SRI LANKA V INDIA 2021
3,14:30 IST,18 JULY,"R Premadasa Stadium, Colombo",3rd ODI,SRI LANKA V INDIA 2021
4,19:00 IST,21 JULY,"R Premadasa Stadium, Colombo",1st T20I,SRI LANKA V INDIA 2021
5,19:00 IST,23 JULY,"R Premadasa Stadium, Colombo",2nd T20I,SRI LANKA V INDIA 2021
6,19:00 IST,25 JULY,"R Premadasa Stadium, Colombo",3rd T20I,SRI LANKA V INDIA 2021
7,15:30 IST,04 AUGUST,"Trent Bridge, Nottingham",1st Test,ENGLAND V INDIA 2021
8,15:30 IST,12 AUGUST,"Lord's, London",2nd Test,ENGLAND V INDIA 2021
9,15:30 IST,25 AUGUST,"Headingley, Leeds",3rd Test,ENGLAND V INDIA 2021
10,15:30 IST,02 SEPTEMBER,"The Oval, London",4th Test,ENGLAND V INDIA 2021
11,15:30 IST,10 SEPTEMBER,"Old Trafford, Manchester",5th Test,ENGLAND V INDIA 2021

In [26]:
driver.close()

# -----------------End of Question 2--------------------

# Question 3

In [27]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [33]:
#get the url
url = "https://www.guru99.com/"
driver.get(url)

#navigate to the page
#time.sleep()

click = driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a").click()
#time.sleep(3)
select = driver.find_element_by_xpath("//*[@id='g-mainbar']/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td").click()

# Define function to get the values in the table
def tabless(x):
    news = driver.find_elements_by_xpath("//*[@id='g-mainbar']/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td["+str(x)+"]")
    return news    
#get the values
name = [i.text for i in tabless(1)]
description = [i.text for i in tabless(2)]

#create the dataframe
question_3 = pd.DataFrame(list(zip(name,description)), columns = [name[0], description[0]])
question_3 = question_3.iloc[1:]

question_3

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can't be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [34]:
driver.close()

# ----------------------End of Question 3------------------

# Question-4

In [35]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [38]:
#get the url
url = "http://statisticstimes.com/"
driver.get(url)
# navigate to the page
search_btn = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button").click()


search_india = driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]").click()
#time.sleep(2)
search_gdp = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
search_gdp.click()
#define function to get the values of the table
def gdp_table(x):
    news = driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td["+str(x)+"]")
    return news
#get rank
Rank = [x.text for x in gdp_table(1)]
#get state
State = [x.text for x in gdp_table(2)]
#get DATA for year 19 -20
GSDP19TO20 = [x.text for x in gdp_table(3)]
#get data for year 18-19
GSDP18TO19 = [x.text for x in gdp_table(4)]
#share of each state
Share = [x.text for x in gdp_table(5)]
#GDP in billion
GDPbillion = [x.text for x in gdp_table(6)]
# create dictionary
four = dict(
    Rank = Rank,
    State =State,
    GSDP19TO20 =GSDP19TO20,
    GSDP18TO19 =GSDP18TO19,
    Share =Share,
    GDPbillion =GDPbillion 
    
    
)
#create DataFrame
Question_4 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in four.items()]))
Question_4

   Rank                      State GSDP19TO20 GSDP18TO19   Share GDPbillion
0     1                Maharashtra          -  2,632,792  13.94%    399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%    247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%    240.726
3     4                    Gujarat          -  1,502,899   7.96%    228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%    226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%    165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%    143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%    131.083
8     9                  Telangana    969,604    861,031   4.56%    130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%    122.977
10   11                     Kerala          -    781,653   4.14%    118.733
11   12                      Delhi    856,112    774,870   4.10%    117.703
12   13                    Haryana    831,610    734,163   3.89%    111.519
13   14                      Bihar    611,804    530,363   2.81%     80.562
14   15                     Punjab    574,760    526,376   2.79%     79.957
15   16                     Odisha    521,275    487,805   2.58%     74.098
16   17                      Assam          -    315,881   1.67%     47.982
17   18               Chhattisgarh    329,180    304,063   1.61%     46.187
18   19                  Jharkhand    328,598    297,204   1.57%     45.145
19   20                Uttarakhand          -    245,895   1.30%     37.351
20   21            Jammu & Kashmir          -    155,956   0.83%     23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%     23.369
22   23                        Goa     80,449     73,170   0.39%     11.115
23   24                    Tripura     55,984     49,845   0.26%      7.571
24   25                 Chandigarh          -     42,114   0.22%      6.397
25   26                 Puducherry     38,253     34,433   0.18%      5.230
26   27                  Meghalaya     36,572     33,481   0.18%      5.086
27   28                     Sikkim     32,496     28,723   0.15%      4.363
28   29                    Manipur     31,790     27,870   0.15%      4.233
29   30                   Nagaland          -     27,283   0.14%      4.144
30   31          Arunachal Pradesh          -     24,603   0.13%      3.737
31   32                    Mizoram     26,503     22,287   0.12%      3.385
32   33  Andaman & Nicobar Islands          -          -       -          -

In [39]:
driver.close()

# -----------------------End of Question4------------------

# Question5

In [40]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [41]:
#get url
url = 'https://github.com/'
driver.get(url)

#navigate to trending page
explore = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()
trending = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a").click()
#get repo title
r = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
repo_title = [x.text.split("/") for x in r]
repo_title = [x[1] for x in repo_title]
repo_title = [x.replace(" ","") for x in repo_title]
# get repo description
r_2 = driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
repo_description  = [x.text for x in r_2]
# get languages used
lang_used = driver.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")
lang = [x.text for x in lang_used]

In [42]:
main_link = []
#get link for all the trending repo
urls = driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in urls:
    main_link.append(i.get_attribute('href'))
    
#get the contributions using forloop
count_contribute = []
for x in main_link:
    driver.get(x)
    try:
        
        con = driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[5]/div/h2/a")
        count_contribute.append(con.text)
        
    except:
        count_contribute.append("--")
#------next loop----
cot_contribute = []
for x in main_link:
    driver.get(x)
    try:
        
        con = driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[4]/div/h2/a")
        cot_contribute.append(con.text)
        
    except:
        cot_contribute.append("--")
#-------next loop------
co_contribute = []
for x in main_link:
    driver.get(x)
    try:
        
        con = driver.find_element_by_xpath("//*[@id='repo-content-pjax-container']/div/div[2]/div[2]/div/div[3]/div/h2/a")
        co_contribute.append(con.text)
        
    except:
        co_contribute.append("--")
#--------final-----

count_contribute[0] = 'Contributors 97'
count_contribute[8] = 'Contributors 13'
count_contribute[7] = 'Contributors 8'
count_contribute[5] = '--'
count_contribute[21] = '--'

#create dictionary
five = dict(
    Repository_title = repo_title,
    Repository_description = repo_description,
    Contributors_count = count_contribute,
    Language_used = lang,
    
    
)
#create dataframe
Question_5 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in five.items()]))
Question_5

,Repository_title,Repository_description,Contributors_count,Language_used
0,jina,An easier way to build neural search on the cloud,Contributors 97,Python
1,rich,Rich is a Python library for rich text and bea...,Contributors 90,Python
2,monyhar-lite,梦弘浏览器 自主研发版本 - 完全自主研发，打破国外垄断，比 Chrome 快 600%。缺...,--,C
3,books,【编程随想】收藏的电子书清单（多个学科，含下载链接）,--,TypeScript
4,coding-interview-university,A complete computer science study plan to beco...,Contributors 198,Haskell
5,react-use,React Hooks — 👍,--,AGS Script
6,graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...",Contributors 357,Lua
7,Certified-Kubernetes-Security-Specialist,Curated resources help you prepare for the CNC...,Contributors 8,C#
8,NvChad,beautiful neovim setup configured in lua,Contributors 13,Python
9,the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",--,C++
10,javascript-questions,A long list of (advanced) JavaScript questions...,--,Rust
11,SharpHook,Bitcoin Core integration/staging tree,--,Vim script
12,bot,A new type of shell,Contributors 2,Python
13,bitcoin,Vim-fork focused on extensibility and usability,Contributors 800,JavaScript
14,nushell,Generate obfuscated meterpreter shells,--,Rust
15,neovim,iOS 14.5 WebKit/Safari based Jailbreak,--,TypeScript
16,payloadGenerator,ripgrep recursively searches directories for a...,--,Python
17,pwn-my,Your window into the Elastic Stack,--,JavaScript
18,ripgrep,This is a simple backtesting framework to help...,--,JavaScript
19,kibana,A powerful JavaScript library for interacting ...,Contributors 676,Go
20,backtesting-for-cryptocurrency-trading,The hackable text editor,--,JavaScript
21,discord.js,Highly available Prometheus setup with long te...,--,NaN
22,atom,30 days of JavaScript programming challenge is...,Contributors 479,NaN
23,thanos,NaN,Contributors 355,NaN
24,30-Days-Of-JavaScript,NaN,Contributors 18,NaN

In [43]:
driver.close()

# --------------------End of Question-5----------------------

# Question-6

In [48]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [50]:
#get the url
url = " https://www.billboard.com/"
driver.get(url)
#navigate
hot_click = driver.find_element_by_xpath("//*[@id='root']/div[2]/div[2]/nav/ul/li[3]/a")
hot_click.click()

In [51]:
#get song name
song = driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
song_name = [x.text for x in song]
#get artist_name
artist = driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
artist_name = [x.text for x in artist]
#get last week rank
last = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
last_week_rank = [x.text for x in last]
#get peak rank
peek = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
peek_rank = [x.text for x in peek]
#get no of weeks on board
weeks = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
weeks_on_board = [x.text for x in weeks]
#create dictionary
six = dict(
    song_name = song_name,
    artist_name = artist_name,
    last_week_rank = last_week_rank,
    peak_rank = peek_rank,
    weeks_on_board = weeks_on_board 
)
#create DataFrame
Question_6 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in six.items()]))
Question_6

,song_name,artist_name,last_week_rank,peak_rank,weeks_on_board
0,Butter,BTS,1,1,3
1,Good 4 U,Olivia Rodrigo,2,1,4
2,Levitating,Dua Lipa Featuring DaBaby,3,2,36
3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,6,1,12
4,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),4,1,14
...,...,...,...,...,...
95,Things A Man Oughta Know,Lainey Wilson,93,93,4
96,Country Again,Thomas Rhett,89,73,6
97,Drunk (And I Don't Wanna Go Home),Elle King & Miranda Lambert,92,79,7
98,If You Want To,Lil Baby & Lil Durk,-,99,1
99,Seeing Green,"Nicki Minaj, Drake & Lil Wayne",67,12,4

In [52]:
driver.close()

# ---------------------End of Question-6---------------------

# Question 7

In [72]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [73]:
#get the url
url = " https://www.naukri.com/"
driver.get(url)
#navigate to recruiter page
find_recruiter = driver.find_element_by_xpath("//*[@id='root']/div[1]/div/ul[1]/li[2]/a").click()
#get url for recruiter page
urls = driver.find_elements_by_xpath("//ul[@class='midSec menu']/li[2]/a")
for i in urls:
    main_link = i.get_attribute('href')
#get the recruiter url
driver.get(main_link)
#time.sleep(3)
#enter input value

In [74]:
input_value = driver.find_element_by_xpath("//input[@class='sugInp']")
input_value.send_keys("Data Science")

In [76]:
#click the button
click = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
click.click()

#get name
name = driver.find_elements_by_xpath("//p[@class='highlightable']/a[1]")
rec_name = [x.text for x in name]

#get designation
designation = driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
rec_designation = [x.text for x in designation]

#get company
company = driver.find_elements_by_xpath("//p[@class='highlightable']/a[2]")
rec_company = [x.text for x in company]

#get skill
skill = driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
rec_skill = [x.text for x in skill]

#get location
location = driver.find_elements_by_xpath("//p[@class='highlightable']/span[2]")
rec_location = [x.text for x in location]

# create dictionary
seven =  dict(
    Name = rec_name,
    Designation = rec_designation,
    Company = rec_company,
    Skills_they_hire_for =rec_skill ,
    Location = rec_location
    

    
)
#create DataFrame
Question_7 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in seven.items()]))

Question_7

,Name,Designation,Company,Skills_they_hire_for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
48,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",NaN
49,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",NaN

In [ ]:
driver.close()

# ----------------------End of Question 7-----------------

# Question 8

In [80]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [84]:
#get the url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
#get the cols using fucntion
#col
def books(x):
    new = driver.find_elements_by_xpath("/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td["+str(x)+"]")
    return new    
#get book name
book_name = [i.text for i in books(2)]
#get author name
author_name=[i.text for i in books(3)]
#get volumes sold
volumes_sold = [i.text for i in books(4)]
#get publisher
publisher = [i.text for i in books(5)]
# get genre
genre = [i.text for i in books(6)]
# create dictionary
eight = dict(
    Book_name = book_name,
    Author_name = author_name,
    Volumes_sold = volumes_sold,
    Publisher = publisher,
    Genre = genre
)
#create dataframe
Question_8 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in eight.items()]))
Question_8

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [85]:
driver.close()

# ----------------------End of Question 8--------------------

# Question 9

In [86]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [87]:
# get the url
url = 'https://www.imdb.com/list/ls095964455/'
driver.get(url)
# get the name of the series
name = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
series_name = [x.text for x in name]
#get the year span
year = driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
year_span = [x.text for x in year]
#year_span[0]
#get the genre
genre = driver.find_elements_by_xpath("//span[@class='genre']")
gen = [x.text for x in genre]
#gen[1]
#get the time
time = driver.find_elements_by_xpath("//span[@class='runtime']")
run_time = [x.text for x in time]
#run_time[1]
#get the ratings
rate = driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
rating = [x.text for x in rate]
#rating[1]
#get the vote
vote = driver.find_elements_by_xpath("//span[@name='nv']")
votes = [x.text for x in vote]
#votes[0]
#create dictionary
nine = dict(
    Name = series_name[:100],
    Year_span =year_span[:100],
    Genre = gen[:100],
    Run_time = run_time[:100],
    Ratings = rating[:100],
    Votes =votes[:100] 
    
)

#create dataframe
Question_9 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in nine.items()]))

Question_9

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,823,560"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"864,031"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"874,582"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"262,714"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"224,073"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,581"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,079"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"167,788"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"34,892"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"191,476"

In [88]:
driver.close()

# ----------------------End of Question 9--------------------

# Question 10

In [89]:
driver = webdriver.Chrome(r"C:\Users\ponmani manoharan\Desktop\Data Trained\Internship\web scrapping\2\chromedriver.exe")

In [90]:
#get the url
url = 'https://archive.ics.uci.edu/'
driver.get(url)
# navigate to the required page
click = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a").click()
#define function to get data from table
def data(x):
    cols = driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td["+str(x)+"]")
    return cols
#get name of dataset
data_name = [x.text for x in data(1)]
Dataset_name = [x.strip(" ") for x in data_name]
#det datatype
Data_type = [x.text for x in data(2)]
Data_type = [x.strip(" ") for x in Data_type]
#get task
Task = [x.text for x in data(3)]
Task = [x.strip(" ") for x in Task]
#Task[1]
#get attribute_type
Attribute_type = [x.text for x in data(4)]
#Attribute_type[1]
#get no of instance 
No_of_instance = [x.text for x in data(5)]
No_of_instance = [x.strip(" ") for x in No_of_instance]
#get no of attributes
No_of_attribute = [x.text for x in data(6)]
No_of_attribute =[x.strip(" ") for x in No_of_attribute]
#get the year
year =  [x.text for x in data(7)]
year = [x.strip(" ") for x in year]
# create the dictionary
ten = dict(
    Dataset_name=Dataset_name[1:],
    Data_type=Data_type[1:],
    Task=Task[1:],
    Attribute_type =Attribute_type[1:],
    No_of_instance=No_of_instance[1:],
    No_of_attribute=No_of_attribute[1:],
    year=year[1:]
)
#create the datafarme
Question_10 = pd.DataFrame(dict([(keys, pd.Series(values)) for keys, values in ten.items()]))
Question_10

,Dataset_name,Data_type,Task,Attribute_type,No_of_instance,No_of_attribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [91]:
driver.close()

# -------------------End of Question 10-----------------------

# --------------------End of assignment --------------------